# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=tibix-bazzite

# Make this the same as your github username/organisation
REPO_ORGANIZATION="TibixDev"

IMAGE_DESC="Tibix's personal Bazzite image"
IMAGE_KEYWORDS="bazzite,bootc,fedora,gaming,linux,oci"

# Put your own image here for a fancy profile on https://artifacthub.io/!
IMAGE_LOGO_URL="https://avatars.githubusercontent.com/u/21055141?v=4"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
